{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
        <h2> Login </h2>

        {% if message %}

            <div>
                {{ message }}
            </div>

        {% endif %}

        <form  action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Username:
                    </div>
                    <div class="col-8">
                        <input name="username" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Password:
                    </div>
                    <div class="col-8">
                        <input name="password" type="password">
                    </div>
                </div>
            </div>
            <input type="submit" value="Login">
        </form>

        <a href="{% url 'register' %}">Create a new user</a>

{% endblock %}