{% extends 'base.html' %}

{% block title %}Add an artist/piece{%  endblock %}

{% block script %}
    function changeEntryType(){
        var radio = document.getElementsByName('entryType');
        for(i = 0; i < radio.length; i++) {
                if(radio[i].checked){
                    var type = radio[i].value;
                }
        }
        if (type==='Artist'){
                document.getElementById('ArtistForm').style = "display: block";
                document.getElementById('PieceForm').style = "display: none";
        }
        else{
                document.getElementById('ArtistForm').style = "display: none";
                document.getElementById('PieceForm').style = "display: block";

        }
    }

{%  endblock %}

{% block content %}

    {% if message %}

            <div>
                <h5>{{ message }}</h5>
            </div>

    {% endif %}
    <h2>Add an Entry</h2>
    <p><b>Type of entry:</b>
    <input type="radio" name="entryType" value="Artist"> Artist
    <input type="radio" name="entryType" value="Piece"> Piece
    <button onclick= "changeEntryType();" type="button">Submit</button>
    </p>

    <hr>
    <div id="ArtistForm" style="display: none">
        <form  action="{% url 'addartist' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Name:
                    </div>
                    <div class="col-8">
                        <input name="artist_name" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Movement:
                    </div>
                    <div class="col-8">
                        <input name="movement" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Country:
                    </div>
                    <div class="col-8">
                        <input name="country" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Birth year:
                    </div>
                    <div class="col-8">
                        <input name="birth_year" type="number" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Death year:
                    </div>
                    <div class="col-8">
                        <input name="death_year" type="number" value="0">
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" value="Create">
            </form>
    </div>

    <div id="PieceForm" style="display: none">
        <form  action="{% url 'addpiece' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Artist:
                    </div>
                    <div class="col-8">
                        <select name="artist">
                            <option value="" selected>---------</option>
                            {% for selectedartist in artists %}
                                <option value="{{selectedartist.artist_name}}">{{selectedartist.artist_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Title:
                    </div>
                    <div class="col-8">
                        <input name="title" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Type:
                    </div>
                    <div class="col-8">
                        <input name="type" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Medium:
                    </div>
                    <div class="col-8">
                        <input name="medium" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Picture URL:
                    </div>
                    <div class="col-8">
                        <input name="picture_url" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Year:
                    </div>
                    <div class="col-8">
                        <input name="year" type="number" value="0">
                    </div>
                </div>
            </div>
            <input type="submit" value="Create">
            </form>
    </div>
    
{% endblock content %}