{% extends 'base.html' %}

{% block title %}Add an artist/piece{%  endblock %}

{% block script %}
    function changeEntryType(){
        var radio = document.getElementsByName('entryType');
        for(i = 0; i < radio.length; i++) {
                if(radio[i].checked){
                    var type = radio[i].value;
                }
        }
        if (type==='Artist'){
                document.getElementById('ArtistForm').style = "display: block";
                document.getElementById('PieceForm').style = "display: none";
        }
        else{
                document.getElementById('ArtistForm').style = "display: none";
                document.getElementById('PieceForm').style = "display: block";

        }
    }

{%  endblock %}

{% block content %}

    {% if message %}

            <div>
                <h5>{{ message }}</h5>
            </div>

    {% endif %}

    <p>Type of entry:</p>
    <input type="radio" name="entryType" value="Artist"> Artist
    <br>
    <input type="radio" name="entryType" value="Piece"> Piece
    <br>
    <button onclick= "changeEntryType();" type="button">Submit</button>

    <hr>
    <div id="ArtistForm" style="display: none">
        <form  action="{% url 'addartist' %}" method="post">
            {% csrf_token %}
            Name: <input name="artist_name" type="text">
            <br>
            Movement: <input name="movement" type="text">
            <br>
            Country: <input name="country" type="text">
            <br>
            Birth year: <input name="birth_year" type="number">
            <br>
            Death year: <input name="death_year" type="number">
            <br>
            <input type="submit" value="Create">
            </form>
    </div>

    <div id="PieceForm" style="display: none">
        <form  action="{% url 'addpiece' %}" method="post">
            {% csrf_token %}
            Artist: <select name="artist">
            {% for selectedartist in artists %}
                <option value="{{selectedartist.artist_name}}">{{selectedartist.artist_name}}</option>
            {% endfor %}
            </select>
            <br>
            Title: <input name="title" type="text">
            <br>
            Type: <input name="type" type="text">
            <br>
            Medium: <input name="medium" type="text">
            <br>
            Picture URL: <input name="picture_url" type="text">
            <br>
            Year: <input name="year" type="number">
            <br>
            <input type="submit" value="Create">
            </form>
    </div>
    
{% endblock content %}