{% extends 'base.html' %}

{% block title %}{{ piece.artist }}, {{ piece.title }}{%  endblock %}

{% block content %}
    <p><a href="javascript:history.back()" style="float: right">Back</a></p>
    <div style="text-align: center;">
    <h3>{{ piece.artist }}</h3>
        <hr>
    <h3>{{ piece.title }}</h3>
        <p>{{ piece.medium }}, {{ piece.year }}</p>
        <p><img src="{{ piece.picture_url }}" width=90%></p>
    </div>
    <p><a href="javascript:history.back()" style="float: right">Back</a></p>
{% endblock content %}