{% extends 'base.html' %}

{% block title %}Search{%  endblock %}

{% block script %}
function changeEntryType(){
        var radio = document.getElementsByName('entryType');
        for(i = 0; i < radio.length; i++) {
                if(radio[i].checked){
                    var type = radio[i].value;
                }
        }
        if (type==='Artist'){
                document.getElementById('ArtistForm').style = "display: block";
                document.getElementById('PieceForm').style = "display: none";
        }
        else{
                document.getElementById('ArtistForm').style = "display: none";
                document.getElementById('PieceForm').style = "display: block";

        }
    }
{% endblock %}

{% block content %}

    <h3>Search</h3>
    <div id="SearchForm">
        <p><form action="{% url 'query' %}" method="post">
            {% csrf_token %}
            <input type="text" name="find" default="Search">
            <button type="submit">Submit</button>
        </form></p>
        <p> &nbsp; </p>
    </div>

    {% if message %}

            <div>
                <h3>{{ message }}</h3>
            </div>

    {% endif %}
    {% if found_artists %}
        <div>
            <h3>Artists</h3>
            {% for artist in found_artists %}
                <p><a href="{% url 'artist' artist.id %}">{{ artist }}</a></p>
            {% endfor %}
            {% if found_artist_pieces %}
                <h3>Pieces</h3>
                {% for piece in found_artist_pieces %}
                    <p><a href="{% url 'piece' piece.id %}">{{ piece.title }}</a></p>
                {% endfor %}
            {% endif %}


        </div>
    {% endif %}
    {% if found_pieces %}
        <div>
            <h3>Pieces</h3>
            {% for piece in found_pieces %}
                <p><a href="{% url 'piece' piece.id %}">{{ piece.title }}</a> by <a href="{% url 'artist' piece.artist.id %}">{{ piece.artist }}</a></p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}