{% extends 'base.html' %}

{% block title %}Search{%  endblock %}

{% block script %}
    <script>
        function deleteItem(id) {
            document.getElementById('piece_' + id).style = "display: none";
            document.getElementById('artist_piece_' + id).style = "display: none";
            $.ajax({
                url: '{% url 'deletePiece' %}',
                dataType: 'json',
                data: {'id' : id},
                method: 'GET',
                success: function (response) {
                    if(response == 'okay'){
                    }
                },
            });
        }
        function deleteArtist(id) {
            document.getElementById('artist_' + id).style = "display: none";
            $.ajax({
                url: '{% url 'deleteArtist' %}',
                dataType: 'json',
                data: {'id' : id},
                method: 'GET',
                success: function (response) {
                    if(response == 'okay'){
                    }
                },
            });
        }
    </script>
{% endblock %}

{% block content %}

    <h2>Search</h2>
    <div style="text-align: center;" id="SearchForm">
        <p><form action="{% url 'query' %}" method="post">
            {% csrf_token %}
            <input type="text" name="find" default="Search" size="42">
            <button type="submit">Submit</button>
        </form></p><br>
    </div>

    {% if message %}

            <div>
                <h3>{{ message }}</h3>
                <hr>
            </div>

    {% endif %}
    {% if found_artists %}
        <div>
            <h3>Artists</h3>
            <p>
            {% for artist in found_artists %}
                <div id="artist_{{ piece.id }}">
                <input type="button" id="delete" value="Delete" onclick="deleteArtist({{ artist.id }});"> &nbsp;
                <a href="{% url 'artist' artist.id %}">{{ artist }}</a><br>
            {% endfor %}
            </p>
            {% if found_artist_pieces %}
                <h3>Artist's Pieces</h3>
                <p>
                {% for piece in found_artist_pieces %}
                <div id="artist_piece_{{ piece.id }}">
                <input type="button" id="delete" value="Delete" onclick="deleteItem({{ piece.id }});"> &nbsp;
                    <a href="{% url 'piece' piece.id %}">{{ piece.title }}</a><br>
                </div>
                {% endfor %}
                </p>
            {% endif %}


        </div>
    {% endif %}
    {% if found_pieces %}
        <div>
            <h3>Pieces</h3>
            {% for piece in found_pieces %}
                <div id="piece_{{ piece.id }}">
                <input type="button" id="delete" value="Delete" onclick="deleteItem({{ piece.id }});"> &nbsp;
                <a href="{% url 'piece' piece.id %}">{{ piece.title }}</a> by <a href="{% url 'artist' piece.artist.id %}">{{ piece.artist }}</a>
                <br>
                </div>
            {% endfor %}
            </p>
        </div>
    {% endif %}


{% endblock content %}